@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;600&display=swap");
@import "nullstyle.css";


.heading{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.3em;
    line-height: 174px;
}

.close {
  font-size: 1.5rem;
}

.col-12 img {
  opacity: 0.9;
  cursor: pointer;
  margin: 2rem;
  width: 100%;
}

.col-12 img:hover {
  opacity: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

  .container p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 213.6%;
  text-align: center;
  }

  @media screen and (max-width: 576px){
    .heading {
        font-size: 40px;
        line-height: 70px;
    }
    .container p {
      font-size: 14px;
    }
  }
  @media screen and (min-width: 577px) and (max-width: 900px){
    .heading {
        font-size: 96px;
    }
  }


  