@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;600&display=swap");
@import "nullstyle.css";

body {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.navMenu {
  position: absolute;
  width: 1519px;
  height: 80px;
  left: 124px;
  top: 156px;
  left: 50%;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  overflow: auto;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.navMenu a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-decoration: none;
  color: black;
  display: inline-block;
  justify-content: center;
}

.navMenu a:hover {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  transition: 0.5s;
  
}

.container {
  display: grid;
  grid-template-rows: 900px 900px 100px;

  width: 80%;
  justify-items: center;
  grid-template-areas:
    "A"
    "B"
    "C"
    "D"
    "E"
    "F";
}

.block1 {
  position: absolute;
  width: 80%;
  height: 900px;
  display: flex;
  justify-content: center;
  grid-area: A;
}

.dizain {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
  justify-content: start;
  letter-spacing: 0.3em;
  position: absolute;
  width: 1190px;
  height: 174px;
  top: 294px;
}

.stud {
  position: absolute;
  width: 1190px;
  height: 174px;
  top: 468px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
}

.name {
  position: absolute;
  width: 1090px;
  height: 51px;
  top: 575px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 65px;
  display: flex;
  align-items: flex-end;
  justify-content: right;
  letter-spacing: 0.2em;
}

.block2 {
  position: absolute;
  width: 80%;
  height: 850px;
  top: 930px;
  grid-area: B;
  display: flex;
  justify-content: center;
  gap: 100px;
}

.about{
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 104.6%;
  margin-bottom: 30px;
  width: 708px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutText {
  width: 750px;
  height: 770px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 213.6%;
  text-align: center;
  top: 115px;
}

.photo {
  width: 444px;
  height: 684px;
  margin-top: 90px;
  background-size: 444px 684px;
  background-image: url("images/about.jpg");
}

.block3 {
  position: absolute;
  width: 100%;
  height: 910px;
  top: 1860px;
  grid-area: C;
  background-color: #0D0D0D;

}

.project {
  position: absolute;
  width: 100%;
  height: 184px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 104.6%;
  color: #0D0D0D;
}




.swiper-container { 
  overflow: hidden;
  width: 100%;
  height: 915px;
  transition: all .6s ease;
}
.swiper-container.swiper-container-coverflow {
  padding: 2% 0 calc(2% + 30px) 0;
}
.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
}
.swiper-slide .swiper-content {
  position: absolute;
  bottom: 4%;
  left: 2%;
  max-width: 70%;
  padding: 10px 16px;
  color: #fff;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 104.6%; 
  background: rgba(0, 0, 0, 0.6);
}
.swiper-title .swiper-content {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  margin-top: 30px;
  line-height: 104.6%;
  display: block;
}
.swiper-slide .swiper-content .swiper-caption {
  display: block;
  font-size: 15px;
  line-height: 1.4;
}
.swiper-button {
  width: 44px;
  opacity: 0;
  visibility: hidden;
}
.swiper-button-prev {
  transform: translateX(50px);
}
.swiper-button-next {
  transform: translateX(-50px);
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
  bottom: 10px;
  position: relative;
  width: 12px;

  height: 12px;
  background-color: #ffffff;
  opacity: .5;
  transition: all .3s ease; 
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  transform: translate(-50%, -50%);
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover, 
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
@media (max-width: 767px) {
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
      bottom: 4px;
  }
  .swiper-slide .swiper-content .swiper-title {
      font-size: 22px;
  }
  .swiper-slide .swiper-content .swiper-caption {
      font-size: 13px;
  }
}

.border-button {
  text-decoration: none;
  display: inline-block;
  padding: 20px 20px;
  margin: 0 0 40px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 104.6%;
}
.border-button:before, .border-button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.border-button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
.border-button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
.border-button:hover:before, 
.border-button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.border-button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
.border-button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
.border-button:hover {
  background: rgba(255, 255, 255, .2);
}

.block4{
  position: absolute;
  width: 80%;
  height: 6000px;
  top: 3000px;
  grid-area: D;
  display: flex;
  justify-content: center;
  
}

.services {
  position: absolute;
  width: 1190px;
  height: 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 104.6%;
  display: flex;
  align-items: center;
  justify-content: end;
  
}

.dizain1 {
  position: absolute;
  width: 1190px;
  height: 174px;
  margin-top: 50px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
  letter-spacing: 0.35em;
  
}



.ph {
  
  width: 1190px;
  height: 650px;
  position: absolute;
  margin-top: 100px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  justify-content: start;
  letter-spacing: 0.11em;
}

.photo1 {
  width: 550px;
  height: 350px;
  margin-top: 400px;
  background-size: 550px 350px;
  background-image: url("images/diz_project.jpg");
  position: absolute;
  margin-top: 300px;
}

.projectText {
  position: absolute;
  width: 590px;
  height: 500px;
  margin-top: 235px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 213.6%;
}

.kollaj {
  
  position: absolute;
  width: 1190px;
  height: 1000px;
  top: 1000px;
}
.kol {
  position: absolute;
  width: 1190px;
  height: 174px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.31em;
  
}
.project2{
  position: absolute;
  width: 589px;
  height: 705px;
  
  top: 174px;
  right: 0;
}

.project3{
  position: absolute;
width: 589px;
height: 174px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 174px;
display: flex;
align-items: center;
letter-spacing: 0.11em;
}

.kolText {
  font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 171%;
/* or 41px */

margin-top: 174px;
text-align: right;
letter-spacing: 0.11em;
}
.photo3 {
  width: 550px;
  height: 600px;
  margin-top: 240px;
  background-size: 550px 600px;
  background-image: url("images/collage.jpg");
}

.tech {
  
  position: absolute;
  width: 1190px;
  height: 1000px;
  top: 2250px;
}

.tech1 {
  position: absolute;
width: 1190px;
height: 174px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 174px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.205em;
}

.project4{
  position: absolute;
  width: 589px;
  height: 750px;
  
  top: 174px;
}

.project5 {
position: absolute;
width: 606px;
top: -174px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 128px;
line-height: 174px;
display: flex;
letter-spacing: 0.11em;
}

.techText {
  position: absolute;
width: 575px;
height: 429px;
top: 174px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.11em;
}

.photo4 {
  width: 500px;
  height: 700px;
  margin-top: 200px;
  background-size: 500px 700px;
  background-image: url("images/chert.png");
  position: absolute;
  right: 0;
}

.plan {
  
  position: absolute;
  width: 1190px;
  height: 1100px;
  top: 3500px;
}

.plan1 {
  position: absolute;
width: 1190px;
height: 131px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 131px;
/* identical to box height */
display: flex;
align-items: center;
letter-spacing: 0.145em;
}

.resh{
  position: absolute;
  width: 720px;
  height: 1100px;
  
  right: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  text-align: right;
  letter-spacing: 0.145em;
}

.photo5 {
  width: 720px;
  height: 700px;
  margin-top: -100px;
  background-size: 720px 700px;
  background-image: url("images/plan.png");
  position: absolute;
}

.planText{
  position: absolute;
width: 408px;
height: 396px;
top: 150px;
left: 40px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 33px;
text-align: center;
letter-spacing: 0.145em;
}

.nadzor {
  
  position: absolute;
  width: 1190px;
  height: 800px;
  top: 4900px;
}

.author {
  position: absolute;
  width: 1184px;
  height: 174px;

  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
  letter-spacing: 0.35em;
}

.nadzor1 {
  position: absolute;
  width: 609px;
  height: 174px;
  top: 174px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 174px;
  display: flex;
  align-items: center;
  letter-spacing: 0.11em;
}

.text1 {
  position: absolute;
  width: 580px;
  height: 210px;
  top: 400px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 176.18%;
  /* or 42px */
  display: flex;
  align-items: center;
}

.text2 {
  position: absolute;
width: 1166px;
height: 168px;

top: 592px;

font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 176.18%;
/* or 42px */

display: flex;
align-items: center;
}

.photo6 {
  width: 590px;
  height: 450px;
  right: 0;
  top: 174px;
  background-size: 590px 450px;
  background-image: url("images/nadzor.png");
  position: absolute;
}

.sopr {
  
  position: absolute;
  width: 1190px;
  height: 800px;
  top: 6000px;
}

.sopr1 {
  position: absolute;
  width: 1184px;
  height: 169px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 96px;
  line-height: 176.18%;
  /* or 169px */
  
  display: flex;
  text-align: center;
  align-items: center;
  letter-spacing: 0.255em;
}

.text3 {
  position: absolute;
width: 607px;
height: 561px;
right: 0;
top: 169px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 176.18%;
/* or 42px */
display: flex;
align-items: center;
text-align: right;
}

.photo7 {
  width: 446px;
  height: 561px;
  top: 174px;
  left: auto;
  left: 70px;
  background-size: 446px 561px;
  background-image: url("images/sopr.jpg");
  position: absolute;
}

.block5 {
  position: absolute;
  width: 100%;
  height: 910px;
  top: 10000px;
  grid-area: E;
  background-color: #0D0D0D;
  display: flex;
  justify-content: center;
}

.partners {
  position: absolute;
  height: 184px;
  width: 90%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 48px;
  line-height: 104.6%;
  /* or 50px */
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  border-color: #FFFFFF;
  justify-content: center;
  
}

.company {
  position: absolute;
  width: 350px;
  height: 460px;
  background: #FFFFFF;
  top: 300px;
  display: flex;
  justify-content: center;
}

.nameCom{
  position: absolute;
  width: 300px;
  height: 100px;
  top: 250px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 40px;
  line-height: 54px;
  display: flex;
  align-items: center;
  text-align: center;
}

.pochta{
  position: absolute;
  width: 300px;
  height: 24px;
  top: 275px;
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  
}

.tel{
  position: absolute;
  width: 300px;
  height: 24px;
  top: 320px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  
}

.photo8 {
  width: 340px;
  height: 250px;
  background-size: 340px 250px;
  background-image: url("images/remont.png");
  position: absolute;
}

.box
{
  position: relative;
  width: 320px;
  height: 400px;
  top: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 30px;
  transition: 0.5s;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 33px;
}

.box::before
{
  content:' ';
  position: absolute;
  top: 0;
  left: 50px;
  width: 50%;
  height: 100%;
  text-decoration: none;
  background: #a5a5a5;
  
  transform: skewX(15deg);
  transition: 0.5s;
}

.box::after
{
  content:'';
  position: absolute;
  top: 0;
  left: 50;
  width: 50%;
  height: 100%;
  background: #dadada;
  
  transform: skewX(15deg);
  transition: 0.5s;
  filter: blur(30px);
}

.box:hover:before,
.box:hover:after
{
  transform: skewX(0deg);
  left: 20px;
  width: calc(100% - 90px);
  
}

.box:nth-child(1):before,
.box:nth-child(1):after
{
  background: linear-gradient(315deg, #ffbc00, #ff0058)
}

.box span
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  pointer-events: none;
}

.box span::before
{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.1s;  
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08)
}

.box:hover span::before
{
  top: -50px;
  left: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

.box span::after
{
  content:'';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  
  background: rgba(255, 255, 255, 0.568);
  backdrop-filter: blur(10px);
  opacity: 0;
  transition: 0.5s;
  animation: animate 2s ease-in-out infinite;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  animation-delay: -1s;
}

.box:hover span:after
{
  bottom: -50px;
  right: 50px;
  width: 100px;
  height: 100px;
  opacity: 1;
}

@keyframes animate
{
  0%, 100%
  {
    transform: translateY(10px);
  }
  
  50%
  {
    transform: translate(-10px);
  }
}

.box .content
{
  position: relative;
  left: 0;
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  z-index: 1;
  transform: 0.5s;
  color: #000000;
}

.box:hover .content
{
  left: -25px;
  padding: 60px 40px;
}

.box .content h2
{
  font-weight: 300;
font-size: 40px;
line-height: 54px;
  color: #000000;
  margin-bottom: 10px;
}

.box .content p
{
  font-size: 1.1em;
  margin-bottom: 10px;
  line-height: 1.4em;
}

.box .content a
{
  display: inline-block;
  font-family: 'Open Sans';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 33px;
  color: #111;
  background: #fff;
  padding: 10px;

  text-decoration: none;

  margin-top: 5px;
}

.box .content a:hover
{
  background: #c4c4c4;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 15px rgba(1, 1, 1, 0.2);
}

.block6 {
  position: absolute;
  width: 1190px;
  height: 273px;
  top: 11000px;
  grid-area: F;
  background: #7C7C7C;
  display: flex;
  justify-content: space-between;
}

.foot {
  
  width: 390px;
  height: 270px;
}

.logo {
  width: 390px;
  height: 273px;
  background-size: 390px 273px;
  background-image: url("images/logo.png");
  position: absolute;

}

.contacts {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 104.6%;
  /* or 38px */
  color: #F4F4F4;
  
  right: 0;
  width: 800px;
}

.phone {
  
  display: flex;
  justify-content: space-evenly;
  padding-left: 220px;
  padding-right: 220px;
}

.social {
  padding-left: 270px;
  padding-right: 270px;
  display: flex;
  justify-content: space-between;
  
}

.email {
  display: flex;
  justify-content: space-evenly;
  padding-left: 70px;
  padding-right: 70px;
  align-items: center;
  text-align: center;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: 0.5s;
}