@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300;400;600&display=swap");
@import "nullstyle.css";

.heading{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 128px;
    line-height: 174px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.3em;
}
@media screen and (max-width: 576px){
    .heading {
        font-size: 40px;

        height: 50px;
    }

    .photo1 {
        height: 200px;
    }
    
    .photo2 {
        height: 250px;
    }
    
    .photo3 {
        height: 200px;
    }
    
    .photo4 {
        height: 200px;
    }
    
    .photo5 {
        height: 200px;
    }


    .photo6 {
        height: 150px;
    }
    
    .photo7 {
        height: 150px;
    }
    
    .photo8 {
        height: 170px;
    }
    
    .photo9 {
        height: 200px;
    }
    
    .photo10 {
        height: 250px;
    }
    
    .photo11 {
        height: 200px;
    }
    
    .photo12 {
        height: 150px;
    }
    
    .photo13{
        height: 190px;
    }
    .hover-text-one figure h3 {
        font-size: 10px;
    }
}

@media screen and (min-width: 577px) and (max-width: 800px){
    .heading {
        font-size: 96px;
    }
    .photo1 {
        height: 300px;
    }
    
    .photo2 {
        height: 600px;
    }
    
    .photo3 {
        height: 300px;
    }
    
    .photo4 {
        height: 300px;
    }
    
    .photo5 {
        height: 350px;
    }


    .photo6 {
        height: 300px;
    }
    
    .photo7 {
        height: 300px;
    }
    
    .photo8 {
        height: 300px;
    }
    
    .photo9 {
        height: 400px;
    }
    
    .photo10 {
        height: 400px;
    }
    
    .photo11 {
        height: 300px;
    }
    
    .photo12 {
        height: 250px;
    }
    
    .photo13{
        height: 250px;
    }
}

.end {
    color: red;
}

.gallery {
    margin-top: 89px;
}



.clearfix:before, .clearfix:after { 
	content: ''; 
	display: table; 
}
.clearfix:after { 
	clear: both; 
}
.hover-text-one {
	overflow: hidden;
	margin: 0;
	width: 100%;
	list-style: none;
	text-align: center;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 213.6%;
}
.hover-text-one figure {
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: #ffffff;
	text-align: center;
	cursor: pointer;
}
.hover-text-one figure img {
	position: relative;
	display: block;
	min-height: 100%;
	opacity: 0.8;
}
.hover-text-one figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hover-text-one figure figcaption::before,
.hover-text-one figure figcaption::after {
	pointer-events: none;
}
.hover-text-one figure figcaption{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.hover-text-one figure h3 {
	word-spacing: -0.15em;
	font-weight: 300;
}
.hover-text-one figure h3 span {
	font-weight: 800;
}
.hover-text-one figure h3,
.hover-text-one figure p {
	margin: 0;
}
.hover-text-one figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/* Эффект при наведении */
figure.effect-text-three {
	background: #000000;
}
figure.effect-text-three img {
	width: -webkit-calc(100% + 20px);
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	transform: scale(1.1);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
figure.effect-text-three:hover img {
	opacity: 0.4;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three figcaption {
	text-align: left;
}
figure.effect-text-three h3 {
	position: relative;
	overflow: hidden;
	padding: 0.5em 0;
}
figure.effect-text-three h3::after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
}
figure.effect-text-three:hover h3::after {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect-text-three p {
	padding: 1em 0;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}
figure.effect-text-three:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}